<!DOCTYPE html>
<html lang="en">
  <% include partials/_header %>

  <body style="font-size:60px; padding:50px; background-color:#93B874">
    <p style= "margin-top: 100px">
      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL"> Enter a URL: </label>
        <input type="text" style="font-size: 50px" name="longURL" value="http://" style="height: 50px; width: 300px">
        <input type="submit" value="Submit", style="width: 80px; height:300px; font-size: 300px">
      </form>
     </p>
  </body>
</html>